<h1 class="heading text-regular">active tasks</h1>
                <div id="task-window" class="window-frame" style="/*box-shadow: 0px 5px 25px rgb(0,0,0,.5);*/">
                <button class=" active new-task-button" id="task-button" type="button" data-bs-target="#modal-new-task" data-bs-toggle="modal">+task</button>
                    <div id="active-tasks-list" class="active-tasks-list">
                        {{>user-task}}
                    </div>
                </div>
            </div><!-- End: active-tasks-col -->