<link rel="stylesheet" type="text/css" href="/css/game.css">
<div class="game game-border">
  <div id="carrot"></div>
  <div id="rabbit"></div>
  <div id="rock"></div>
</div>
<p id="feedR">Jump to feed the Rabbit!</p>
<div id="carrotEarn">CARROTS COLLECTED</div>
<p id="myScore"></p>
<script src="/js/game-logic.js"></script>