<link rel="stylesheet" type="text/css"   href="/css/user-homepage.css">

<div>
        <!-- Start: homepage-row -->
        <div class="row g-0">
            <!-- Start: active-tasks-col -->
            <div class="col">
            {{>user-task-main}}
            <!-- Start: calender-col -->
            <div class="col">
                <div class="badge-frame" style="box-shadow: inset 0px 0px 25px rgb(0,0,0,.25);"><img id="endure-badge" class="badge-icon" src="/img/endure.svg"><img id="heart-badge" class="badge-icon" src="/img/heart.svg"><img id="stoic-badge" class="badge-icon" src="/img/stoic.svg"><img id="valor-badge" class="badge-icon" src="/img/valor.svg"><span class="align-items-xl-center user-name" id="user-name">@user</span></div>
                <div id="calender-window" class="window-frame calender"><span id="date" class="date-h">september 6, 2022</span>
                    <div class="justify-content-evenly weekday-group" id="weekday-group"><button class="btn day-button day-button-sun" type="button">S</button><button class="btn day-button day-button-mon" type="button">M</button><button class="btn day-button day-button-tue today-day" type="button">W</button><button class="btn day-button day-button-thu" type="button">T</button><button class="btn day-button day-button-fri" type="button">F</button><button class="btn day-button day-button-sat" type="button">S</button></div>
                </div>
                <div style="padding: 2rem calc(2rem + 2.5vw);height: 8rem;justify-content: flex-end!important;align-items: flex-end!important;display: flex!important;flex: 1 1 auto!important;flex-grow: 1!important;">
                    <h1 class="text-center font-gradient h" id="h-total-carrots">carrots earned&nbsp;<span id="total-carrots-earned">2,324<img class="carrot-icon" src="/img/carrot.svg"></span></h1>
                </div>
            </div><!-- End: calender-col -->
        </div><!-- End: homepage-row -->
    </div><!-- End: home -->
    <!-- Start: modal-task-added -->
    <div class="modal fade scrollbar-hidden" role="dialog" tabindex="-1" id="modal-task-added" style="z-index: 9999999;">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content window-frame"><span class="text-center font-gradient" id="task-added-alert-1" style="font-weight: 600;text-align: center!important;/*margin-top: 0!important;*/padding: 2rem;">new task added !</span></div>
        </div>
    </div><!-- End: modal-task-added -->
    <!-- Start: modal-new-task -->
    <div class="modal fade scrollbar-hidden modal-new-task" role="dialog" tabindex="-1" id="modal-new-task">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content window-frame">
                <div class="modal-header"><span class="flex-fill h" id="add-new-task-h">add new task</span><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body scrollbar-hidden">
                    <div id="new-tasks-form" class="new-tasks-form">
                        <div id="new-task-name" class="new-task-name new-task-input"><span class="p-task-form">task name</span><input type="text" id="form-task-name-1" class="text-input" placeholder="example - drink water!" name="task-name"></div>
                        <div id="new-task-repeat" class="new-task-repeat new-task-input"><span class="p-task-form">repeat</span>
                            <div id="assign-repeat-weekday-group" class="weekday-group"><button class="day-button day-button-sun" type="button">S</button><button class="day-button day-button-mon" type="button">M</button><button class="day-button day-button-tue today-day" type="button">W</button><button class="day-button day-button-thu" type="button">T</button><button class="day-button day-button-fri" type="button">F</button><button class="day-button day-button-sat" type="button">S</button></div>
                        </div>
                        <div id="new-task-color" class="new-task-color new-task-input"><span class="p-task-form">task color</span>
                            <div class="justify-content-evenly task-color-button-group" id="task-color-button-group"><button id="task-color-button-1" class="task-color-button task-color-button-1"><img class="check-icon unchecked-icon" src="/img/checkmark-black.svg"></button><button id="task-color-button-2" class="task-color-button task-color-button-1"><img class="check-icon unchecked-icon" src="/img/checkmark-black.svg"></button><button id="task-color-button-3" class="task-color-button task-color-button-1"><img class="check-icon unchecked-icon" src="/img/checkmark-black.svg"></button><button id="task-color-button-4" class="task-color-button task-color-button-1"><img class="check-icon unchecked-icon" src="/img/checkmark-black.svg"></button><button class="active task-color-button task-color-button-1" id="task-color-button-5"><img class="check-icon unchecked-icon" src="/img/checkmark-black.svg"></button><button id="task-color-button-6" class="task-color-button task-color-button-1"><img class="check-icon unchecked-icon" src="/img/checkmark-black.svg"></button></div>
                        </div>
                        <div id="new-task-subtasks" class="new-task-subtasks new-task-input">
                            <div id="add-substask" class="add-substask"><span class="p-task-form">add sub task</span>
                                <div id="added-subtask-list" class="added-subtask-list"><span id="new-subtask-1" class="new-subtask-list-p">add sub task</span><span id="new-subtask-3" class="new-subtask-list-p">add sub task</span></div>
                                <div id="new-subtask-1" class="new-subtask-1"><input type="text" id="form-task-name" class="text-input" placeholder="example - drink water!" name="task-name"></div>
                                <div id="new-subtask-2" class="new-subtask-1"></div>
                            </div><button class="btn submit-new-task-button" id="submit-new-task-button" type="button" data-bs-target="#modal-task-added" data-bs-toggle="modal">+task</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End: modal-new-task -->

    <script src="/js/task-functions.js"></script>